@import '../fonts/fontawesome-free-5.8.1/css/all.min.css';
@import '../fonts/stroke/style.css';
@import '../fonts/elegant/style.css';
@import '../fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css';
@import '../fonts/simple-line-icons/css/simple-line-icons.css';
@import '../fonts/nevica/font/flaticon.css';
body {
    font-size: 14px;
}

.dropdown-item {
    font-size: 0.8rem;
}

.error {
    color: #ff0000;
}